<div class="card is-clickable">
    <div class="card-image" @onclick="NavigateToDetail">
        <figure class="image is-4by3">
            <img src="@Opdracht.Fotourl"
                 alt="Placeholder image" />
        </figure>
    </div>
    <div class="card-content" @onclick="NavigateToDetail">
        <div class="media">
            <div class="media-content">
                <p class="title is-4">@Opdracht.Routenummer</p>
                <p class="subtitle is-6">@Opdracht.Lader!.Naam</p>
            </div>
        </div>

        <div class="content">
            <div class="columns">
                <div class="column">
                    <time datetime="@Opdracht.Datum?.ToString("yyyy-MM-ddTHH:mm:ss")">@FormattedOpdrachtDate</time>
                </div>
                <div class="column">

                </div>
            </div>
        </div>
    </div>
</div>


